.onboarding-guide-desktop {
    &.quill-modal__container {
        .quill-modal__button-wrapper {
            .quill-button.quill-button__size--lg {
                border-radius: 24px;
            }
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 4.2rem;
        height: 100%;
        justify-content: flex-start;
        margin-top: 3.2rem;
    }

    &__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        margin: 0;
        color: var(--component-textIcon-normal-prominent);
    }

    &__description {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        margin: 0;
        color: var(--component-textIcon-normal-default);
    }
}
