.guide-link {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    transition: opacity 0.2s ease;
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
        text-decoration-color: var(--component-textIcon-normal-prominent);
    }

    svg {
        width: 16px;
        height: 16px;
        fill: var(--component-textIcon-normal-prominent);
    }
}
